In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

POPULATION_SIZE = 100
GENERATIONS = 100
CROSSOVER_PROBABILITY = 0.8
MUTATION_PROBABILITY = 0.2
MAX_RUNS = 30

def algorithm(data):
    pass


def main():
    folder_path = 'ACI_Project2_2324_Data'
    file_list = os.listdir(folder_path)
    data_dictionary = {}
    for file_name in file_list:
        if file_name.endswith('.csv'):
            # extract the base name of the file (without the extension)
            df_name = os.path.splitext(file_name)[0]
            # construct the full file path
            file_path = os.path.join(folder_path, file_name)
            
            # read the CSV file into a DataFrame with the base name as the variable name
            data_dictionary[df_name] = pd.read_csv(file_path, sep=';', usecols=['Date', 'Close'])


if __name__ == "__main__":
    main()

            Date      Close
0     27/09/2005  19.299999
1     28/09/2005  20.500000
2     29/09/2005  20.209999
3     30/09/2005  21.010000
4     03/10/2005  21.500000
...          ...        ...
4518  11/09/2023  14.090000
4519  12/09/2023  14.110000
4520  13/09/2023  13.310000
4521  14/09/2023  13.260000
4522  15/09/2023  13.310000

[4523 rows x 2 columns]
             Date       Close
0      12/12/1980    0.128348
1      15/12/1980    0.121652
2      16/12/1980    0.112723
3      17/12/1980    0.115513
4      18/12/1980    0.118862
...           ...         ...
10775  11/09/2023  179.360001
10776  12/09/2023  176.300003
10777  13/09/2023  174.210007
10778  14/09/2023  175.740005
10779  15/09/2023  175.009995

[10780 rows x 2 columns]
            Date       Close
0     15/05/1997    0.097917
1     16/05/1997    0.086458
2     19/05/1997    0.085417
3     20/05/1997    0.081771
4     21/05/1997    0.071354
...          ...         ...
6623  11/09/2023  143.100006
6624  12/09/2023  141.229996
6625  13/09/2023  144.850006
6626  14/09/2023  144.720001
6627  15/09/2023  140.389999

[6628 rows x 2 columns]
             Date      Close
0      21/02/1973   4.625000
1      22/02/1973   4.640625
2      23/02/1973   4.625000
3      26/02/1973   4.625000
4      27/02/1973   4.625000
...           ...        ...
12749  11/09/2023  28.480000
12750  12/09/2023  28.969999
12751  13/09/2023  28.879999
12752  14/09/2023  29.200001
12753  15/09/2023  28.840000

[12754 rows x 2 columns]
             Date      Close
0      01/06/1972   2.153220
1      02/06/1972   2.149165
2      05/06/1972   2.149165
3      06/06/1972   2.124835
4      07/06/1972   2.112670
...           ...        ...
12929  11/09/2023  12.220000
12930  12/09/2023  12.450000
12931  13/09/2023  12.640000
12932  14/09/2023  12.620000
12933  15/09/2023  12.610000

[12934 rows x 2 columns]
            Date       Close
0     19/08/2004    2.499133
1     20/08/2004    2.697639
2     23/08/2004    2.724787
3     24/08/2004    2.611960
4     25/08/2004    2.640104
...          ...         ...
4797  11/09/2023  137.740005
4798  12/09/2023  136.070007
4799  13/09/2023  137.500000
4800  14/09/2023  138.990005
4801  15/09/2023  138.300003

[4802 rows x 2 columns]
             Date       Close
0      02/01/1962    7.291268
1      03/01/1962    7.355003
2      04/01/1962    7.281708
3      05/01/1962    7.138305
4      08/01/1962    7.004461
...           ...         ...
15528  11/09/2023  148.380005
15529  12/09/2023  146.300003
15530  13/09/2023  146.550003
15531  14/09/2023  147.350006
15532  15/09/2023  145.990005

[15533 rows x 2 columns]
             Date      Close
0      17/03/1980   0.325521
1      18/03/1980   0.322917
2      19/03/1980   0.330729
3      20/03/1980   0.329427
4      21/03/1980   0.317708
...           ...        ...
10963  11/09/2023  38.590000
10964  12/09/2023  38.860001
10965  13/09/2023  38.709999
10966  14/09/2023  38.669998
10967  15/09/2023  37.880001

[10968 rows x 2 columns]
            Date       Close
0     22/01/1999    0.410156
1     25/01/1999    0.453125
2     26/01/1999    0.417969
3     27/01/1999    0.416667
4     28/01/1999    0.415365
...          ...         ...
6198  11/09/2023  451.779999
6199  12/09/2023  448.700012
6200  13/09/2023  454.850006
6201  14/09/2023  455.809998
6202  15/09/2023  439.000000

[6203 rows x 2 columns]
             Date       Close
0      02/01/1962    1.578125
1      03/01/1962    1.601563
2      04/01/1962    1.605469
3      05/01/1962    1.570313
4      08/01/1962    1.566406
...           ...         ...
15528  11/09/2023  114.160004
15529  12/09/2023  117.489998
15530  13/09/2023  116.440002
15531  14/09/2023  118.519997
15532  15/09/2023  116.699997

[15533 rows x 2 columns]